@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.EventItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "MasterTemplate.cshtml";
}

@Html.Partial("Header")

<main>
    <div>
        <img src="@Model.Content.GetCropUrl("image", "FeedItem")" alt="@Model.Content.Title" class="event-news-image"/>
    </div>
    <div class="event-container">
        <h2>@Model.Content.Title</h2>
        <i>@Model.Content.StartTime.ToString("dd/MM/yyyy HH:mm") - @Model.Content.EndTime.ToString("dd/MM//yyyy HH:mm")</i>
        @Model.Content.EventText
    </div>
</main>

