@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Core;
@using Umbraco.Core.Models;
@using Umbraco.Core.Services;
@using System;

@{
    Layout = "MasterTemplate.cshtml";
    var mapItems = Model.Content.Descendants<SingleItem>();
    var mapCategories = Umbraco.TypedContent(1079).Children("MapCategories");
}
<style>
    @foreach (var category in mapCategories)
    {
        var catIcon = Umbraco.Field(category, "categoryIcon");
        string catIconId = catIcon.ToString();
        int catIconIdInt = Int32.Parse(catIconId);

        var icon = Umbraco.Media(catIconIdInt);
        var iconUrl = icon.Url;

        <text>
        .header-filter .category .@category.Name.ToSafeAlias().ToLower() {
            background-image: url('@iconUrl');
        }
        </text>

        var catActiveIcon = Umbraco.Field(category, "categoryIconActive");
        string catActiveIconId = catActiveIcon.ToString();
        int catActiveIconIdInt = Int32.Parse(catActiveIconId);

        var iconActive = Umbraco.Media(catActiveIconIdInt);
        var iconActiveUrl = iconActive.Url;

        <text>
        .header -filter .category .@category.Name.ToSafeAlias().ToLower()@**@.active {
            background-image: url('@iconActiveUrl');
        }
        </text>
    }
</style>
<body>
    <header class="header-filter">
        <div class="container">
            <div class="flex-row">
                @foreach (var category in mapCategories)
                {
                    <div class="category">
                        <div class="@category.Name.ToSafeAlias().ToLower()"></div>
                        <span>@category.Name</span>
                    </div>
                }
            </div>
        </div>
    </header>

    <main>
        <div class="popup" id="popup">
        </div>
        <div id="map" class="map"></div>
    </main>

    @Html.Partial("Navigation")

    <!-- Leaflet.js extention to get current location -->
    <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.63.0/dist/L.Control.Locate.min.js" charset="utf-8"></script>
    <!-- end -->
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="~/assets/js/jquery.mobile.custom/jquery.mobile.custom.min.js"></script>
    <script src="~/assets/js/LoadingPopupForAnimals.js"></script>
    <script type="text/javascript">
        // Defining the map and standard location (Latitude / Longitude) and zoom level
        var map = L.map('map').setView([55.81139, 9.35229], 16);

        // Defining the tile layer (in this case we use OpenStreetMaps' standard layer)
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
            maxZoom: 19,
            minZoom: 15,
        }).addTo(map);

        @foreach(var item in mapItems)
        {
            <text>
            var @item.Title.ToSafeAlias() = L.divIcon({
                html: '<div class="map-icon @item.Category.Name.ToSafeAlias().ToLower()" id="@item.Id" title="@item.Title"> <img src="@item.Icon.Url"> <div class="icon-background"></div> </div>',
                className: ''
            });

           @{ 
                string PosLat = null;
                string PosLong = null;
                if (item.MapPosition != null)
                {
                    string[] positionList = item.MapPosition.ToString().Split(',');
                    PosLat = positionList[0];
                    PosLong = positionList[1];
                }
                else
                {
                    PosLat = item.LatitudePostion.ToString(System.Globalization.CultureInfo.InvariantCulture);
                    PosLong = item.LongitudePosition.ToString(System.Globalization.CultureInfo.InvariantCulture);
                }
            }
            L.marker([@PosLat, @PosLong], { icon: @item.Title.ToSafeAlias() }).addTo(map);
            viewPopup(@item.Id);
            </text>
        }


        // Getting user's current location

        var lc = L.control.locate({
            position: 'topright',
            returnToPrevBounds: true,
            icon: 'pin-icon',
            strings: {
                title: "Get current location"
            }
        }).addTo(map);


        $(document).ready(function () {
            $('img[src$=".svg"]').each(function () {
                var $img = jQuery(this);
                var imgURL = $img.attr('src');
                var attributes = $img.prop("attributes");

                $.get(imgURL, function (data) {
                    // Get the SVG tag, ignore the rest
                    var $svg = jQuery(data).find('svg');

                    // Remove any invalid XML tags
                    $svg = $svg.removeAttr('xmlns:a');

                    // Loop through IMG attributes and apply on SVG
                    $.each(attributes, function () {
                        $svg.attr(this.name, this.value);
                    });

                    // Replace IMG with SVG
                    $img.replaceWith($svg);
                }, 'xml');
            });
        });

    </script>

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="~/assets/js/jquery.mobile.custom/jquery.mobile.custom.min.js"></script>
    <script src="~/assets/js/PeakOnMap.js"></script>
    <script src="~/assets/js/MapFilter.js"></script>
</body>
</html>